@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


/* TODO: Remove the need for this, by not using shit craco. This is to hide the annoying invisible error overlay(?) when developing. */
iframe {
  display: none;
}

body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100%;
}
